
.page-title-top {
    color: #013185;
    margin-top: 20px;
    margin-bottom: 30px;
}

.page-title-table { 
    color: #013185;
    font-size: 25px;
}

.lower-title {
    margin-bottom: 20px;
}

.lower-title span {
    margin-left: 15px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;

  border-radius: 8px;
  border: 2px solid #121bbb;

  font-size: 1rem;
}

.log-btn {
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    background-color: #F1F1E6;
    border-color: #babaae;
    cursor: pointer;

}

.log-btn:hover {
    background-color: #FFF7D6;
}

.tooltip-icon {
    background-color: #4253AE;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-20%);

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.tooltip-container {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);

    background-color: #333;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 0.85rem;

    white-space: nowrap;

    transition: opacity 0.2s ease;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.table-wrapper {
    border-radius: 5px;
    border: none;
    overflow-x: scroll;
    overflow-y: scroll;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.table-wrapper table th {
  background-color: #4253AE;
  color: white;
  text-align: center;
  border: 1px solid #013185;
  padding: 12px;
}

.table-wrapper table td {
    background-color: rgb(228, 236, 255);
    color: black;
    text-align: center;
    border: 1px solid #013185;
    padding: 5px;
}

.table-wrapper table tr.active td {
    background-color: rgb(244, 255, 199);
    color: black;
    text-align: center;
    border: 1px solid #013185;
    padding: 5px;
}

.table-wrapper table tr.unactive td {
    background-color: rgb(199, 255, 215);
    color: black;
    text-align: center;
    border: 1px solid #013185;
    padding: 5px;
}

#container-tabelas {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.paginas {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
}

.paginas button {
    padding: 6px 12px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.paginas button:hover {
    background-color: #4253AE;
    color: white;
}

.paginas button.ativo {
    background-color: #4253AE;
    color: white;
    border-color: #4253AE;
}

.log-recente {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.log-geral {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.modal-overlay form {
    width: 27%;
    padding: 1rem 3rem;
    position: relative;
}

.modal-overlay form .form-field {
    width: 300px;
}

.btn-cancelar {
    position: absolute;
    top: 12px;
    right: 12px;

    background: #eee;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;

    border-radius: 5px;
    border: 1px solid #aaa;
    padding: .2rem .4rem;    

    color: red;
}

.btn-cancelar:hover {
    color: red;
}

form h2 {
    color: #eee;
}

form .botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}