body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title {
    /* text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111, 1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111; */
    color: #013185;
}

form {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    
    padding: 1rem 4rem;
    border: 3px solid #6565a0;
    background-color: #9b9bcd;
    border-radius: 10px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
}

form label {
    font-size: 1rem;
    margin-left: 1rem;
}

form .form-field {
    padding: .5rem 1rem;
    width: 200px;

    border: 1px solid #babaae;
    border-radius: 5px;
    background-color: #F1F1E6;
    cursor: pointer;
}

form .form-field:hover {
    background-color: thistle;
}

form .submit {
    padding: .7rem 1.2rem;
    align-self: center;

    cursor: pointer;    
    background-color: #F1F1E6;
    border: 2px solid #babaae;
    border-radius: 10px;

}

form .submit:hover {
    background-color:  #FFF7D6
}

/* Chrome, Safari, Edge, Opera */
.form-field::-webkit-outer-spin-button,
.form-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.form-field[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}